.sun {
  position: absolute;
  bottom: 140px;
  left: 210px;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.6);

  .day & {
    position: absolute;
    bottom: 180px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-color: #fffeed;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.6);
  }
}
