.tree {
  position: absolute;
  bottom: 0;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background: linear-gradient(
    250deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 3;
}
